RewriteEngine On

RewriteRule ^public/users/([0-9a-zA-Z_-]*)$ public/users/index.php?/$1 [NC,L]
RewriteRule ^public/users/connection/([0-9a-zA-Z_-]*)$ public/users/connection/index.php?/$1 [NC,L]

RewriteRule ^public/games/([0-9a-zA-Z_-]*)$ public/games/index.php?/$1 [NC,L]
RewriteRule ^public/games/bycategory/([0-9a-zA-Z_-]*)$ public/games/bycategory/index.php?/$1 [NC,L]
RewriteRule ^public/games/userfavorite/([0-9a-zA-Z_-]*)$ public/games/userfavorite/index.php?/$1 [NC,L]
RewriteRule ^public/games/byname/([0-9a-zA-Z_-]*)$ public/games/byname/index.php?/$1 [NC,L]
RewriteRule ^public/games/usertime/([0-9a-zA-Z_-]*)$ public/games/usertime/index.php?/$1 [NC,L]

RewriteRule ^public/category/([0-9a-zA-Z_-]*)$ public/category/index.php?/$1 [NC,L]